/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* common style or utilities */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}

main {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}

/* top player style */
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}

.top-players {
  margin-bottom: 30px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}

.player img {
  width: 56px;
  height: 56px;
}

.player-name {
  margin-left: 16px;
  font-size: 18px;
}

hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/* Top blog styles */
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 40px;
}

.blog {
  display: flex;
}
.blog .thumnail img {
  width: 177px;
  height: 177px;
}

.blog-info {
  margin-left: 16px;
}

.blog-title {
  font-size: 20px;
}

.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}

.blog-author a {
  text-decoration: none;
  font-size: 16px;
  color: #562fff;
}

/* courses style */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}

.course .course-banner img {
  width: 224px;
  height: 104px;
}

.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-star {
  font-size: 12px;
}

.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}

.course-duration {
  background-color: rgb(251, 176, 251);
  border-radius: 30%;
}

/* Media queries */
/* mobile devices */

@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog,
  .course {
    flex-direction: column;
  }
}

/* tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container {
    width: 100%;
  }

  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .player,
  .blog,
  .course {
    flex-direction: column;
  }
}
